{% extends 'base.html' %}

	{% block head %}
  <title>Middle Georgia State University | IRB Description Form Page</title>
  <meta name="Institutional Review Board (IRB)" content="This is the IRB description page" />
	{% endblock %}

	{% block body%}
	{% load static %}

  <!-- HEADER -->

	<!-- CONTENT-->


		<div class="big_container">
			<section class="big_content">

				<form id="user" action="admin_description.html" method="post"><!--The action is the form-handler server page with a script for processing input data.-->

						<h5>Description - Admin Review</h5>
						<br>

					<table id="small_table"><!--Beginning of Table-->
						<tr>
							<th>Project Title:</th><!--Header Column-->
							<td>Solar Power</td><!--Table Data that will be displayed by queries from the database-->

						</tr>
						<tr>
							<th>Funding</th><!--Header Column-->
							<td>Middle Georgia State</td><!--Table Data that will be displayed by queries from the database-->

						</tr>
						<tr>
							<th>Dates</th><!--Header Column-->
							<td>Start Date: 01/08/2018<br><!--Table Data that will be displayed by queries from the database-->
							End Date: 05/25/2018</td><!--Table Data that will be displayed by queries from the database-->

						</tr>
						<tr>
							<th>Scientific Purpose</th><!--Header Column-->
							<td>Convert MGA to solar power</td><!--Table Data that will be displayed by queries from the database-->

						</tr>
							<th>Methodology</th><!--Header Column-->
							<td>The test subjects will go thru</td><!--Table Data that will be displayed by queries from the database-->
						</tr>
						<tr>
							<th>Potential Benefits</th><!--Header Column-->
							<td>Save on power</td><!--Table Data that will be displayed by queries from the database-->
						</tr>
						<tr>
							<th>Anticipated Risks</th><!--Header Column-->
							<td>Minor Risk</td><!--Table Data that will be displayed by queries from the database-->
						</tr>
						<tr>
							<th>Participants will be recruited?</th><!--Header Column-->
							<td>9 participants will help with this project</td><!--Table Data that will be displayed by queries from the database-->
						</tr>
						<tr>
							<th>Why the identity of the participants?</th><!--Header Column-->
							<td>For security reason and in case we need to conatact them</td><!--Table Data that will be displayed by queries from the database-->
						</tr>
						<tr>
							<th>How data stored/destroyed?</th><!--Header Column-->
							<td>Files save on the server.</td><!--Table Data that will be displayed by queries from the database-->
						</tr>
						<tr>
							<th>Consent process</th><!--Header Column-->
							<td>Participants will sign waivers</td><!--Table Data that will be displayed by queries from the database-->
						</tr>
						<tr>
							<th>Notes</th><!--Header Column-->
							<td><textarea name="NOTES" oninput="this.className = ''" placeholder="Notes..." tabindex="7" required></textarea></td><!--Text area for comments by Admin-->
						</tr>
						<tr>
							<th>Actions</th><!--Header Column-->
							<td>
								<select required><!--Dropdown box for status selection-->
									<option oninput="this.className = ''" value="">Please Select</option>
									<option oninput="this.className = ''" value="INCOMPLETE">Incomplete</option>
									<option oninput="this.className = ''" value="AWAITING">Awaiting</option>
									<option oninput="this.className = ''" value="IN_WORK">In Work</option>
									<option oninput="this.className = ''" value="APPROVED">Approved</option>
									<option oninput="this.className = ''" value="DENIED">Denied</option>
								</select>
							</td>
					</table><!--End of Table-->

					<br>
					<!--Link to the description section of the project to be reviewed-->
					<div class="fleft">
						<a href="admin_forms.html">Forms</a>
					</div>

					<!--A button to update the database with the new information that was submitted-->
					<div  id="user_content" class="fright">
						<button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
					</div>
					<br>
					<br>
				</form>
			</section>

		</div>
		<br><!--Add space between for and footer-->
		<br>
		<br>
		<br>
		<br>
		<br>

	{% endblock %}
