{% extends 'base.html' %}

	{% block head %}
  <title>Middle Georgia State University | IRB Project Forms Page</title>
  <meta name="Institutional Review Board (IRB)" content="This is the IRB Project Form page" />
	{% endblock %}

	{% block body%}
	{% load static %}

  <!-- HEADER -->
			<div id="header" class="sticky">
				<div>
					<a href="https://www.mga.edu/"><img class="logo" src={% static 'irbSite/images/mga-header-logo.png' %} alt=""/></a>
				</div>
				<div class="aligncenter">
					<h1 class="title">Institutional Review Board</h1>
				</div>
			</div>

			<br>
			<br>

		<!-- Side Navigation Menu -->
			<div class="menu_container">
				<div id="menu">
					<ul>
						<!-- Links to the Home page, submit new project page, Forms page and the the Principal Investigator’s Handbook. -->
						<li class="title">Menu</li>
						<li><a href="index.html"><img class="icons" src={% static 'irbSite/images/home.png' %} alt=""/>Home</a></li>
						<li><a href="form.html"><img class="icons" src={% static 'irbSite/images/projects.png' %} alt=""/>Submit New Project</a></li>
						<hr>
						<li><a href="project_forms.html"><img class="icons" src={% static 'irbSite/images/IRB-PDF-icon.png' %} alt=""/>Forms</a></li>
						<li><a href="https://www.mga.edu/faculty-staff/governance/2016-2017/docs/standing-committees-boards/boards/institutional-review/documents/IRB%20Principal%20Investigator%20Handbook.pdf" target="_blank"><img class="icons" src={% static 'irbSite/images/handbook.png' %} alt=""/>Handbook</a></li>
						<hr>
						<br>

						<!--Logout Button-->
						<li><a id="mylink" href="{% url 'irbSite:logout' %}"><img class="icons" src={% static 'irbSite/images/logout.png' %} alt=""/>Logout</a></li>

						<hr>
						<br>

						{% if user.is_staff == True %}
						<!--Section that will only be displayed if user is an Admin-->
						<p> Click here to access Admin View</p>
						<li class="title"><a href="{% url 'irbSite:irbadmin' %}"></a>Admin View</li>
						{% endif %}

					</ul>
				</div>
			</div>

		<!-- CONTENT-->


		<div class="small_container">
			<section class="small_content">
				<h1>Welcome {{user.username}}</h1>
				<h5>Forms - Admin Review</h5><br>

				<form id="user" method="get"><!--The action is the form-handler server page with a script for processing input data.-->
				{% csrf_token %}

					<p>Forms submitted for this project</p>

					<table id="small_table"><!--Beginning of Table-->

						<tr>
							<th>Consent Form</th><!--Header Column-->
							<th>Assent Form</th><!--Header Column-->
							<th>Survey Form</th><!--Header Column-->
							<th>Methodology</th><!--Header Column-->
							<th>Grant Proposal</th><!--Header Column-->
							<th>Extenuating Circumstances</th><!--Header Column-->
							<th>Faculty Signature</th><!--Header Column-->
						</tr>
						<tr>
							<th><img class="small_icons" src="{% static 'irbSite/images/forms.png' %}" alt=""/></th>
							<th><img class="small_icons" src="{% static 'irbSite/images/forms.png' %}" alt=""/></th>
							<th><img class="small_icons" src="{% static 'irbSite/images/forms.png' %}" alt=""/></th>
							<th><img class="small_icons" src="{% static 'irbSite/images/forms.png' %}" alt=""/></th>
							<th><img class="small_icons" src="{% static 'irbSite/images/forms.png' %}" alt=""/></th>
							<th><img class="small_icons" src="{% static 'irbSite/images/forms.png' %}" alt=""/></th>
							<th><img class="small_icons" src="{% static 'irbSite/images/forms.png' %}" alt=""/></th>
						</tr>

					</table>
					<br><br>
					<p>Submitted data for this project</p>
					<table id="small_table">
						<tr>
							<th>Project Title</th><!--Header Column-->
							<td><b>{{ project.project_name }}</b></td><!--Table Data that will be displayed by queries from the database-->
						</tr>
						<tr>
							<th>Funding</th><!--Header Column-->
							<td>{{project.funding}}</td><!--Table Data that will be displayed by queries from the database-->
						</tr>
						<tr>
							<th>Project Dates</th><!--Header Column-->
							<td>Start:   {{project.start_date}}<br><br>End:   {{project.end_date}}</td><!--Table Data that will be displayed by queries from the database-->
						</tr>
						<tr>
							<th>Scientific Purpose</th><!--Header Column-->
							<td>{{project.purpose}}</td><!--Table Data that will be displayed by queries from the database-->
						</tr>
						<tr>
							<th>Methodology</th><!--Header Column-->
							<td>{{project.methodology}}</td><!--Table Data that will be displayed by queries from the database-->
						</tr>
						<tr>
							<th>Potential Benifits</th><!--Header Column-->
							<td>{{project.benefits}}</td><!--Table Data that will be displayed by queries from the database-->

						</tr>
						<tr>
							<th>Antidipated Risk</th><!--Header Column-->
							<td>{{project.risk}}</td><!--Table Data that will be displayed by queries from the database-->
						</tr>
						<tr>
							<th>How Participants Will be Recruited</th><!--Header Column-->
							<td>{{project.recruited}}</td><!--Table Data that will be displayed by queries from the database-->
						</tr>
						<tr>
							<th>Why Identify Participants </th><!--Header Column-->
							<td>{{project.why_identify}}</td><!--Table Data that will be displayed by queries from the database-->
						</tr>
						<tr>
							<th>How Will Data be Stored</th><!--Header Column-->
							<td>{{project.how_data_store}}</td><!--Table Data that will be displayed by queries from the database-->
						</tr>
						<tr>
							<th>Consent Process</th><!--Header Column-->
							<td>{{project.consent_process}}</td><!--Table Data that will be displayed by queries from the database-->
						</tr>
					</table><!--End of Table-->
				</form>
				<br><br>

				<form id="user" method="post">

						<tr>
							<th>You can enter notes about this IRB Project here.</th><!--Header Column--><br>
							<td>{{project.review_notes}}</td><!--Text area for comments by Admin-->
						</tr>

					<div  id="user_content" class="fright">
						{{project.is_complete}}<br>
						{{project.is_approved}}<br><br><br>
						<!--A button to update the database with the new information that was submitted-->
						<button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
					</div>
					<br>
					<br>
				</form>
			</section>

		</div>
		<br><!--Add space between for and footer-->
		<br>
		<br>
		<br>
		<br>
		<br>

	{% endblock %}
