{% extends 'base.html' %}

	{% block head %}
  <title>Middle Georgia State University | IRB Project Forms Page</title>
  <meta name="Institutional Review Board (IRB)" content="This is the IRB admin forms page" />
	{% endblock %}

	{% block body%}
	{% load static %}

		<!-- CONTENT-->

		<div class="big_container">
			<section class="big_content">
				<h1>Welcome {{user.username}}</h1>
				<h5>Forms - Admin Review</h5><br>

				<form id="forms" method="get">
				{% csrf_token %}

					<p>Forms submitted for this project</p>

					<table id="funky_table">

						<tr>
							<th>Consent Form</th>
							<th>Assent Form</th>
							<th>Survey Form</th>
							<th>Methodology</th>
							<th>Grant Proposal</th>
							<th>Extenuating Circumstances</th>
							<th>Faculty Signature</th>
						</tr>
						<tr>

						{% if project.consent_form %}
							<th><a href="{{ project.consent_form.url }}" target="_blank" rel="noreferrer"><img class="small_icons" src="{% static 'irbSite/images/forms.png' %}" alt=""/> </a></th>
						{% else %}
							<th><img class="small_icons" src="{% static 'irbSite/images/no_forms.png' %}" alt=""/></th>
						{% endif %}

						{% if project.assent_form %}
							<th><a href="{{ project.assent_form.url }}" target="_blank" rel="noreferrer"><img class="small_icons" src="{% static 'irbSite/images/forms.png' %}" alt=""/> </a></th>
						{% else %}
							<th><img class="small_icons" src="{% static 'irbSite/images/no_forms.png' %}" alt=""/></th>
						{% endif %}

						{% if project.surveys_form %}
							<th><a class="" id="" href="{{ project.surveys_form.url }}" target="_blank" rel="noreferrer"><img class="small_icons" src="{% static 'irbSite/images/forms.png' %}" alt=""/> </a></th>
						{% else %}
							<th><img class="small_icons" src="{% static 'irbSite/images/no_forms.png' %}" alt=""/></th>
						{% endif %}

						{% if project.methodology_form %}
							<th><a class="" id="" href="{{ project.methodology_form.url }}" target="_blank" rel="noreferrer"><img class="small_icons" src="{% static 'irbSite/images/forms.png' %}" alt=""/> </a></th>
						{% else %}
							<th><img class="small_icons" src="{% static 'irbSite/images/no_forms.png' %}" alt=""/></th>
						{% endif %}

						{% if project.grant_proposal_form %}
							<th><a class="" id="" href="{{ project.grant_proposal_form.url }}" target="_blank" rel="noreferrer"><img class="small_icons" src="{% static 'irbSite/images/forms.png' %}" alt=""/> </a></th>
						{% else %}
							<th><img class="small_icons" src="{% static 'irbSite/images/no_forms.png' %}" alt=""/></th>
						{% endif %}

						{% if project.ext_circumstances_form %}
							<th><a class="" id="" href="{{ project.ext_circumstances_form.url }}" target="_blank" rel="noreferrer"><img class="small_icons" src="{% static 'irbSite/images/forms.png' %}" alt=""/> </a></th>
						{% else %}
							<th><img class="small_icons" src="{% static 'irbSite/images/no_forms.png' %}" alt=""/></th>
						{% endif %}

						{% if project.faculty_supervisor_signature %}
							<th><a class="" id="" href="{{ project.faculty_supervisor_signature.url }}" target="_blank" rel="noreferrer"><img class="small_icons" src="{% static 'irbSite/images/forms.png' %}" alt=""/> </a></th>
						{% else %}
							<th><img class="small_icons" src="{% static 'irbSite/images/no_forms.png' %}" alt=""/></th>
						{% endif %}

						</tr>

					</table>
					<br><br>
					<p>Submitted data for this project</p>
					<table id="small_table">
						<tr>
							<th>Project Title</th>
							<td><b>{{ project.project_name }}</b></td>
						</tr>
						<tr>
							<th>Funding</th>
							<td>{{project.funding}}</td>
						</tr>
						<tr>
							<th>Project Dates</th>
							<td>Start:   {{project.start_date}}<br><br>End:   {{project.end_date}}</td>
						</tr>
						<tr>
							<th>Scientific Purpose</th>
							<td>{{project.purpose}}</td>
						</tr>
						<tr>
							<th>Methodology</th>
							<td>{{project.methodology}}</td>
						</tr>
						<tr>
							<th>Potential Benifits</th>
							<td>{{project.benefits}}</td>

						</tr>
						<tr>
							<th>Antidipated Risk</th>
							<td>{{project.risk}}</td>
						</tr>
						<tr>
							<th>How Participants Will be Recruited</th>
							<td>{{project.recruited}}</td>
						</tr>
						<tr>
							<th>Why Identify Participants </th>
							<td>{{project.why_identify}}</td>
						</tr>
						<tr>
							<th>How Will Data be Stored</th>
							<td>{{project.how_data_store}}</td>
						</tr>
						<tr>
							<th>Consent Process</th>
							<td>{{project.consent_process}}</td>
						</tr>
					</table>
				</form>
				<br><br>

				<form id="user" method="post">
				{% csrf_token %}
						<tr>
							<p>You can enter notes about this IRB Project here.<p><!--Header Column-->
							<td>{{form.review_notes}}</td><!--Text area for comments by Admin-->
						</tr>

					<div  id="user_content" class="">
						<br>
						<p>If you would like this submission to become editable again, select "No". <p>
						<p>Complete submission:<p>
						<p>{{form.is_complete}}<p><br>
						<p>If you want to approve this project, select "Approved".<p>
						<p>{{form.is_approved}}<p><br>
						<p>Approval Date<p>
						<p>{{form.date_approved}}<p><br>

						<button class"fright" name="submit" type="submit" id="contact-submit" >Submit</button>

					</div>
					<br>
					<br>
				</form>
			</section>

		</div>
		<br><!--Add space between for and footer-->
		<br>
		<br>
		<br>
		<br>
		<br>

	{% endblock %}
