{% extends 'base.html' %}

	{% block head %}
  <title>Middle Georgia State University | IRB Confirmation Login</title>
  <meta name="Institutional Review Board (IRB)" content="This is the IRB Form Confirmation page" />
	{% endblock %}

	{% block body%}
	{% load static %}

		<!-- CONTENT-->

			<br>
			<br>
			<br>
			<section class="form_container">
				<form id="contact" action="action.php" method="post">
					<h3> <b>Thank You.</b><br>
						Your IRB Form has been submitted.
					</h3>
				</form>
			</section>

			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
		

	{% endblock %}
