{% extends 'base.html' %}


	{% block head %}
	<title>Middle Georgia State University | IRB FORM</title>
	<meta name="Institutional Review Board (IRB)" content="This is the IRB form" />
	{% endblock %}

	{% block body %}
	{% load static %}



<!-- CONTENT-->
	<div class="small_container">
	<section class="small_content">

		<form id="user" method="post"><!--The action is the form-handler server page with a script for processing input data.-->
			{% csrf_token %}

			<!--Header for the Page-->
			<h1>Welcome {{user.username}}</h1>
			<h5>Submission Form</h5><br>


			<!--Beginning of Table-->
			<div class="tab"><!--Tab is used so the java script can recognize what section of the form is displaying-->
				<table id="small_table">

					<!--Project Name Input-->
					<tr>
						<th>Project Name</th><!--Table Headers-->
						<td>{{form.project_name}}</td>
					</tr>

					<!--Qualifies for Input-->
					<tr>
						<th>This Project qualifies for (select one):</th><!--Table Headers-->
						<td>{{form.review_type}}</td>
					</tr>

					<!--Consent form input-->
					<tr>
						<th>Consent Form</th><!--Table Headers-->
						<td>{{form.consent_form}}</td>
					</tr>

					<!--Assent form input-->
					<tr>
						<th>Assent Form</th><!--Table Headers-->
						<td>{{form.assent_form}}</td>
					</tr>

					<!--Surveys input-->
					<tr>
						<th>Surveys</th><!--Table Headers-->
						<td>{{form.surveys_form}}</td>
					</tr>

					<!--Methodology input-->
					<tr>
						<th>Methodology</th><!--Table Headers-->
						<td>{{form.methodology_form}}</td>
					</tr>

					<!--Grant Proposal input-->
					<tr>
						<th>Grant Proposal</th><!--Table Headers-->
						<td>{{form.grant_proposal_form}}</td>
					</tr>

					<!--Extenuating Circumstances input-->
					<tr>
						<th>Extenuating circumstances</th><!--Table Headers-->
						<td>{{form.ext_circumstances_form}}</td>
					</tr>

					<!--Principal Investagator input-->
					<tr>
						<th>Principal Investigator Signature</th><!--Table Headers-->
						<td>{{form.principal_investigator_signature}}</td>
					</tr>

					<!--Faculty Supervisor signature-->
					<tr>
						<th>Faculty Supervisor Signature</th><!--Table Headers-->
						<td>{{form.faculty_supervisor_signature}}</td>
					</tr>

				</table><!--End of the table-->
			</div>

			<div class="tab"><!--Tab is used so the java script can recognize what section of the form is displaying-->
				<table id="small_table">

					<tr>
						<th>Funding</th><!--Table Headers-->
						<td>{{form.funding}}</td>
					</tr>

					<tr>
						<th>Dates</th><!--Table Headers-->
						<td>
							Start Date: {{form.start_date}}<br><br>
							End Date: {{form.end_date}}
						</td>
					</tr>

					<tr>
						<th>Scientific Purpose</th><!--Table Headers-->
						<td>{{form.purpose}}</td><!--Field to edit current information-->
					</tr>

					<tr>
						<th>Methodology</th><!--Table Headers-->
						<td>{{form.methodology}}</td><!--Field to edit current information-->
					</tr>

					<tr>
						<th>Potential Benefits</th><!--Table Headers-->
						<td>{{form.benefits}}</td><!--Field to edit current information-->
					</tr>

					<tr>
						<th>Anticipated Risks</th><!--Table Headers-->
						<td>{{form.risk}}</td><!--Field to edit current information-->
					</tr>

					<tr>
						<th>Participants will be recruited?</th><!--Table Headers-->
						<td>{{form.recruited}}</td><!--Field to edit current information-->
					</tr>

					<tr>
						<th>Why the identity of the participants?</th><!--Table Headers-->
						<td>{{form.why_identify}}</td><!--Field to edit current information-->
					</tr>

					<tr>
						<th>How data stored/destroyed?</th><!--Table Headers-->
						<td>{{form.how_data_store}}</td><!--Field to edit current information-->
					</tr>

					<tr>
						<th>Consent process</th><!--Table Headers-->
						<td>{{form.consent_process}}</td><!--Field to edit current information-->
					</tr>

				</table><!--End of the table-->
			</div>
			<br>
			<div style="overflow:auto;">
				<div class="fleft">
					<button type="submit" id="saveBtn" onclick="save">Save</button><!--Save Button to save Progress-->
				</div>
				<div style="float:right;">
					<button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button><!--Previous Button to save Progress-->
					<button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button><!--Next Button to move to the next step or Submit button to submit the form will appear-->
				</div>
			</div>
			<br>
			<div style="text-align:center; margin-top:40;">
				<span class="step"></span><!--Step circles to show the step of the form you are on-->
				<span class="step"></span><!--Step circles to show the step of the form you are on-->
			</div>
		</form>
	</section>
</div>
<script src={% static 'irbSite/js/multi_form.js'%}></script><!--Java script for the multi step form-->



	{% endblock %}
