{% extends 'base.html' %}

	{% block head %}
  <title>Middle Georgia State University | IRB User Page</title>
  <meta name="Institutional Review Board (IRB)" content="This is the IRB User page" />
	{% endblock %}

	{% block body%}
	{% load static %}


		<!-- CONTENT-->

			<!--Container for the User page-->
			<div class="small_container">
				<section class="small_content">

					<form id="user" method="post">
					{% csrf_token %}
						<!--Header for the Page-->
						<h1>Welcome {{user.username}}</h1>
						<h5>Your Projects</h5>
							<br>
								<p>Below is a list of projects you have submitted.</p>
								<p>You can check the status of an incomplete project and edit it.</p>
								<p>Completed submission are locked for review. If you would like to edit them again, contact the IRB board.</p>
							<br>

						<!--Beginning of Table-->
						<table id="small_table">

						{% if user.is_authenticated %}

							{% if project_list %}
								<tr>
									<th>Project Name</th>
									<th>Is Complete</th>
									<th>Is Approved</th>
								</tr>
								{% for project in project_list  %}
									{% if project.is_complete == False %}
										<tr>
											<th><a href="{% url 'irbSite:editProject' pk=project.project_id %}">{{project.project_name}}</a></th>
											<th>{{project.is_complete}}</th>
											<th>{{project.is_approved}}</th>
										</tr>
										{% else %}
										<tr>
											<th>{{project.project_name}}</a></th>
											<th>{{project.is_complete}}</th>
											<th>{{project.is_approved}}</th>
										</tr>
									{% endif %}
								{% endfor %}
								</tr>
							{% else %}
								<p>You dont have any current IRB forms. Select "Submit New Project" on the left to start one.<p>
							{% endif %}

						{% else %}
							<p>You are not logged in</p>

						{% endif %}

						</table>
					</form>
				</section>
			</div>
			<br>


	{% endblock %}
