{% extends 'base.html' %}

	{% block head %}
  <title>Middle Georgia State University | IRB User Page</title>
  <meta name="Institutional Review Board (IRB)" content="This is the IRB User page" />

  <!--<script type="text/javascript"> <!- -Testing a logout Function- ->

        // Wait for the page to load first
		window.onload = function logout() {
			var a = document.getElementById("mylink");

		    a.onclick = function logout() {

			  var req = new XMLHttpRequest();
			  req.open("POST", "login.html", true);
			  req.withCredentials = true;
			  req.send();

			  document.getElementById('log_form').style.display = '';
			  document.getElementById('logged_user').style.display = 'none';
			  document.getElementById('logout_button').style.display = 'none';
			  document.getElementById('content').style.display = 'none';
			  hide_error();
			}
		}
	</script>-->

	{% endblock %}

	{% block body%}
	{% load static %}

  <!-- HEADER -->
			<div id="header" class="sticky">
				<div>
					<a href="https://www.mga.edu/"><img class="logo" src={% static 'irbSite/images/mga-header-logo.png' %} alt=""/></a>
				</div>
				<div class="aligncenter">
					<h1 class="title">Institutional Review Board</h1>
				</div>
			</div>

			<br>
			<br>

		<!-- Side Navigation Menu -->
			<div class="menu_container">
				<div id="menu">
					<ul>
						<!-- Links to the Home page, submit new project page, Forms page and the the Principal Investigator’s Handbook. -->
						<li class="title">Menu</li>
						<li><a href="{% url 'irbSite:index' %}"><img class="icons" src={% static 'irbSite/images/home.png' %} alt=""/>Home</a></li>
						<li><a href="{% url 'irbSite:form' %}"><img class="icons" src={% static 'irbSite/images/projects.png' %} alt=""/>Submit New Project</a></li>
						<hr>
						<li><a href="project_forms.html"><img class="icons" src={% static 'irbSite/images/IRB-PDF-icon.png' %} alt=""/>Forms</a></li>
						<li><a href="https://www.mga.edu/faculty-staff/governance/2016-2017/docs/standing-committees-boards/boards/institutional-review/documents/IRB%20Principal%20Investigator%20Handbook.pdf" target="_blank"><img class="icons" src={% static 'irbSite/images/handbook.png' %} alt=""/>Handbook</a></li>
						<hr>
						<br>

						<!--Logout Button-->
						<li><a id="mylink" href="login.html"><img class="icons" src={% static 'irbSite/images/logout.png' %} alt=""/>Logout</a></li>

						<hr>
						<br>

						<!--Section that will only be displayed if user is an Admin-->
						<li class="title">Admin</li>

						<!--Links to the Admin Projects page and User page-->
						<li><a href="admin_index.html"><img class="icons" src={% static 'irbSite/images/view_projects.png' %} alt=""/>View Projects</a></li>
						<li><a href="user.html"><img class="icons" src={% static 'irbSite/images/users.png' %} alt=""/>Manage Users</a></li>
					</ul>
				</div>
			</div>

		<!-- CONTENT-->

			<!--Container for the User page-->
			<div class="small_container">
				<section class="small_content">

					<form id="user"  method="post">

						<!--Header for the Page-->
						<h5>Your Projects</h5>
							<br>
								<p>Below is a list of projects you have submitted.</p>
								<p>You can check the status of a project and edit it.</p>
							<br>

						<!--Beginning of Table-->
						<table id="small_table">

					
							{% csrf_token %}
						  <!--<tr>
							<!- -Table Headers- ->
							<th>Projects</th>
							<th>Date Submitted</th>
							<th>Status</th>
							<th>Approval Date</th>
							<th>Actions</th>
						  </tr>
						  <tr>
							<!- -Table Data that will be displayed by queries from the database- ->
							<td>Solar Power</td>
							<td>12/01/17</td>
							<td>Pending</td>
							<td></td>
							<td><a href="user_forms.html">Edit</a></td><!- -User can click to look at the project- ->
						  </tr>
						  <tr>
							<td>ThinkPad</td>
							<td>01/11/18</td>
							<td>Approved</td>
							<td>01/16/18</td>
							<td><a href="user_forms.html">Edit</a></td><!- -User can click to look at the project- ->
						  </tr>
						  <tr>
							<td>IRB Site</td>
							<td>02/21/18</td>
							<td>Incomplete</td>
							<td></td>
							<td><a href="user_forms.html">Edit</a></td><!- -User can click to look at the project- - >
						</tr>-->
						</table>
					</form>
				</section>
			</div>
			<br>


	{% endblock %}
