<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>Middle Georgia State University | IRB FORM Login</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="Institutional Review Board (IRB)" content="This is the IRB Login page" />
		<meta name="keywords" content="Institutional Review Board (IRB), Login, Principal Investigator, Faculty Supervisor, Assent Form, Grant Proposal" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		
		{% load static %}
		<link rel="stylesheet" type="text/css" href={% static 'accounts/style.css' %}>
		
		<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon"/>
		
	</head>
	
	<body>
	
		<!-- HEADER -->
			<div id="header" class="sticky">
				<div>
					<a href="irb_login.html"><img class="logo" src="images/mga-header-logo.png" alt=""/></a>
				</div>
					
				<div>
					<h1 class="title">Institutional Review Board</h1>
				</div>
			</div>
			
		<!-- CONTENT-->
		
		<!-- Beginning of login form -->
		<div class="login_content" id="item1">
			<section class="container">

				<form id="contact" action="irb_form.html" method="post">
						
					<h3>Login</h3><br>
					
					<!-- Email Field -->
					<fieldset>
						<input placeholder="MGA Email" name="email" type="text" id=" " tabindex="1" required=" ">
					</fieldset>
					
					<!-- Password Field -->
					<fieldset>
						<input placeholder="Password" name="password" type="password" id="myPass" tabindex="2" required=" ">
					</fieldset>
					
					<!-- Display password CheckBox-->
					<fieldset>
						<input type="checkbox" onclick="showFunction()" value="ShowMe" id=""> Show Password
					</fieldset>
					<br>
					
					<!-- Remember Login CheckBox -->
					<fieldset>
						<input type="checkbox" name="checkbox" id="remember_Me" value="Remember"><label for="irb_form"> Remember Me</label>
						
						<!-- Forgot Password page -->
						<a class="fright" href="irb_reset_login.html">Forgot Password</a>
					</fieldset>
					
					<!-- Submit Data Button-->
					<fieldset>
						<button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Sign In</button>
					</fieldset>
					
					<!-- Register Account Page -->
					<fieldset>
						<p class="fleft">Do you have an account?</p>
						<a class="linkspace" href="irb_register.html">Sign Up</a>
					</fieldset>
				</form>
			</section>
		</div>
		<!-- End of login form -->
		
			
		<!-- FOOTER -->	
		
		<div id="footer">
		
			<!-- MGA Site Location Links -->
			<div class="site_nav">
				<ul>
					<a href="https://www.mga.edu/about/campuses/macon.php" target="_blank"><li>Macon |</li></a>
					<a href="https://www.mga.edu/about/campuses/cochran.php" target="_blank"><li>Cochran |</li></a>
					<a href="https://www.mga.edu/about/campuses/dublin.php" target="_blank"><li>Dublin |</li></a>
					<a href="https://www.mga.edu/about/campuses/eastman.php" target="_blank"><li>Eastman |</li></a>
					<a href="https://www.mga.edu/about/campuses/warner-robins.php" target="_blank"><li>Warner Robins</li></a>
				</ul>
				<br>
			</div>
			
			<!-- MGA Footer Links -->
			<div class="menu2">
				<ul class="dropdown">
					<button class="dropbtn" onclick="AudiencesFunction()" style="vertical-align:middle"><span>Audiences</span></button>
					<hr><br>
					<div class="dropdown-content" id="myDropdown">
						<a href="https://www.mga.edu/admissions/index.php" target="_blank"><li>Future Students</li></a>
						<a href="https://www.mga.edu/students/index.php" target="_blank"><li>Current Students</li></a>
						<a href="https://www.mga.edu/admissions/high-school-students/index.php" target="_blank"><li>Current High School Students</li></a>
						<a href="https://www.mga.edu/faculty-staff/index.php" target="_blank"><li>Faculty & Staff</li></a>
						<a href="https://www.mga.edu/foundation/index.php" target="_blank"><li>Alumni & Friends</li></a>
						<a href="https://www.mga.edu/veterans-military/index.php" target="_blank"><li>Veterans/Military</li></a>
					</div>
				</ul>
				<ul class="dropdown">
					<button class="dropbtn" onclick="ApplyFunction()" style="vertical-align:middle"><span>Apply Today</span></button>
					<hr><br>
					<div class="dropdown-content" id="Apply_myDropdown">
						<a href="https://www.mga.edu/admissions/index.php" target="_blank"><li>Admissions Office</li></a>
						<a href="https://www.mga.edu/financial-aid/index.php" target="_blank"><li>Financial Aid</li></a>
						<a href="https://www.mga.edu/degrees/index.php" target="_blank"><li>Programs & Majors</li></a>
						<a href="https://www.mga.edu/bursar/tuition-fees/index.php" target="_blank"><li>Tuition & Fees</li></a>
					</div>
				</ul>
				<ul id="position">
					<a href="https://www.mga.edu/index.php"><img class="flogo" src="images/mga-footer-logo.png" alt=""/></a>
				</ul>
				
				<ul class="dropdown">
					<button class="dropbtn" onclick="ContactFunction()" style="vertical-align:middle"><span>Contact</span></button>
					<hr><br>
					<div class="dropdown-content" id="Contact_myDropdown">
						<a href="https://www.mga.edu/directory/frequent-numbers.php" target="_blank"><li>Contact Us</li></a>
						<a href="https://www.mga.edu/about/maps.php" target="_blank"><li>Maps & Directions</li></a>
						<a href="https://www.mga.edu/faculty-staff/customer-service.php" target="_blank"><li>Customer Service</li></a>
						<a href="https://www.mga.edu/internal-audit/ethics-compliance.php" target="_blank"><li>Compliance, Ethics & Reporting Line</li></a>
						<a href="https://www.mga.edu/technology/errors/webmaster.php" target="_blank"><li>Webmaster</li></a>
					</div>
				</ul>
				<ul class="dropdown">
					<button class="dropbtn" onclick="Info_Function()" style="vertical-align:middle"><span>Information</span></button>
					<hr><br>
					<div class="dropdown-content" id="Info_myDropdown">
						<a href="https://www.mga.edu/about/index.php" target="_blank"><li>About MGA</li></a>
						<a href="https://www.mga.edu/police/alert/index.php" target="_blank"><li>MGA Knight Alert</li></a>
						<a href="https://www.mga.edu/police/index.php" target="_blank"><li>Police Department</li></a>
						<a href="https://www.mga.edu/human-resources/index.php" target="_blank"><li>Employment</li></a>
						<a href="https://www.mga.edu/student-affairs/title-ix.php" target="_blank"><li>Title IX Compliance</li></a>
						<a href="https://www.mga.edu/student-affairs/diversity-inclusion-equity-office.php" target="_blank"><li>Diversity</li></a>
					</div>
				</ul>
				
			</div>
		</div>
		
		<!-- MGA Address Links & Social Media Links-->
		<div id="address_sec">
			<div>
				<p>478.471.2700 | <i><a href="https://www.google.com/maps/dir/100%20university%20parkway%20macon%20ga%2031206" target="_blank">100 University Parkway | Macon, GA 31206</a></i></p>
				<ul>
					<li><a href="https://www.facebook.com/MiddleGeorgiaStateUniversity2" target="_blank"><img class="sIcons" src="images/facebook.png" alt=""/></a></li>
					<li><a href="https://twitter.com/MGAstateU" target="_blank"><img class="sIcons" src="images/twitter.png" alt=""/></a></li>
					<li><a href="https://www.instagram.com/mgastateu/" target="_blank"><img class="sIcons" src="images/instagram.png" alt=""/></a></li>
					<li><a href="https://www.youtube.com/user/mgaknights" target="_blank"><img class="sIcons" src="images/youtube.png" alt=""/></a></li>
				</ul>
			</div>
		</div>
		
		
		
		<!-- Copyright Section -->
		<div id="copyright_sec">
			<p class="aligncenter"><i>Copyright © <span id="demo"> </span> Middle Georgia State University</i></p>
			
			<!-- Script to get the Current Year -->
			<script>
				var d = new Date();
				document.getElementById("demo").innerHTML = d.getFullYear();
			</script>
			
		</div>
		
		
		<!-- Script Sections -->
		<script src="http://ajax.googleapis.com/ajax.libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="js/jquery-3.3.1.min.js"></script>
		<script src="js/password.js"></script>
		<script src="js/footer_toggle.js"></script>
	</body>
</html>