{% extends 'base.html' %}

	{% block head %}
	<title>Middle Georgia State University | IRB FORM Login</title>
	<meta name="Institutional Review Board (IRB)" content="This is the IRB Login page" />
	{% endblock %}

	{% block body%}
	{% load static %}

		<!-- HEADER -->
			<div id="header" class="sticky">
				<div>
					<a href="irb_login.html"><img class="logo" src={% static 'irbSite/images/mga-header-logo.png' %}/></a>
				</div>

				<div>
					<h1 class="title">Institutional Review Board</h1>
				</div>
			</div>

		<!-- CONTENT-->

		<!-- Beginning of login form -->
		<div class="login_content" id="item1">
			<section class="container">

				<form id="contact" action="irb_form.html" method="post">

					<h3>Login</h3><br>

					{% csrf_token %}
					{{ form.as_p }}
					<!-- Email Field -->
<!--					<fieldset>
						<input placeholder="MGA Email" name="email" type="text" id=" " tabindex="1" required=" ">
					</fieldset>
-->
					<!-- Password Field -->
	<!--				<fieldset>
						<input placeholder="Password" name="password" type="password" id="myPass" tabindex="2" required=" ">
					</fieldset>
-->
					<!-- Display password CheckBox-->
					<fieldset>
						<input type="checkbox" onclick="showFunction()" value="ShowMe" id=""> Show Password
					</fieldset>
					<br>

					<!-- Remember Login CheckBox -->
					<fieldset>
						<input type="checkbox" name="checkbox" id="remember_Me" value="Remember"><label for="irb_form"> Remember Me</label>

						<!-- Forgot Password page -->
						<a class="fright" href="irb_reset_login.html">Forgot Password</a>
					</fieldset>

					<!-- Submit Data Button-->
					<fieldset>
						<button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Sign In</button>
					</fieldset>

					<!-- Register Account Page -->
					<fieldset>
						<p class="fleft">Do you have an account?</p>
						<a class="linkspace" href="irb_register.html">Sign Up</a>
					</fieldset>
				</form>
			</section>
		</div>
		<!-- End of login form -->
	{% endblock %}
