<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>Middle Georgia State University | IRB FORM</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="Institutional Review Board (IRB)" content="This is the IRB form" />
		<meta name="keywords" content="Institutional Review Board (IRB), Principal Investigator, Faculty Supervisor, Assent Form, Grant Proposal" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon"/>
		
	</head>
	
	<body>
	
	<!-- HEADER -->
		
		<div id="header" class="sticky">
			<div>
				<a href="irb_form.html"><img class="logo" src="images/mga-header-logo.png" alt=""/></a>
			</div>
				
			<div>
				<h1 class="title">Institutional Review Board</h1>
			</div>
		</div>
			
		<!-- CONTENT-->
		
		<div class="form_content" id="item1">
			<section class="container">

				<form id="contact" action="confirmation.html" method="post">
					
					<div class="tab" id="item1">
						
						<h3>Submission Checklist</h3><br>
						<fieldset>
							<h2>Please submit the following forms:</h2>
							
							<ul>
								<li class="upload_file_label">Consent Form</li>
								<li class="upload_file_label">Assent Form [if participants are between 7-17 years of age]</li>
								<li class="upload_file_label">Copies of Surveys, Tests, Questionnaires, etc. [if applicable]</li>
								<li class="upload_file_label">Detailed Research Methodology [at least one page minimum]</li>
								<li class="upload_file_label"> Copy of Grant Proposal (if project is funded or seeking funding, whether on or off campus)</li>
								<li class="upload_file_label"> Choose Extenuating circumstances documentation</li>
							</u/><br>
							<label for="file" class="input-label">
								<i class="fa fa-upload"></i>
								<span id="label_span">Choose file(s) to upload</span>
							</label>
							<input id="file" type="file" oninput="this.className = ''" multiple="true" required/>
						</fieldset><br>
						
							<h2>Principal Investigator(s):</h2>
						<fieldset>
							<input placeholder="Principal Investigator" type="text" id=" " oninput="this.className = ''" tabindex="1" required>
						</fieldset>
						<fieldset>
						<label>Date</label><br>
							<input placeholder="Date" type="date" id=" " oninput="this.className = ''" tabindex="8" required>
						</fieldset>
						<fieldset>
							<label>This Project qualifies for (select one):</label><br>
							<select required>
								<option oninput="this.className = ''" value="">Please Select</option>
								<option oninput="this.className = ''" value="resource_key">Exempt Review</option>
								<option oninput="this.className = ''" value="resource_key">Expedited Review</option>
								<option oninput="this.className = ''" value="resource_key">Full IRB Review</option>
							</select>
						</fieldset>
					</div>
					<div class="tab" id="item2">
						<h3>Project Information</h3><br>

						<fieldset>
							<input placeholder="Project Title:" type="text" id="TITLE_PROJ_NAME" oninput="this.className = ''"tabindex="1" required>
						</fieldset>
						<fieldset>
							<input placeholder="Source of Funding (if any):" id="FUNDING" oninput="this.className = ''" type="text" tabindex="2" required>
						</fieldset>
						<fieldset>
							<label>Dates of proposed project (please take into consideration IRB review timelines as dates cannot be retroactive)</label><br>
							<label>Start Date:</label>
						<input placeholder="Start Date" type="date" id="START_DATE" oninput="this.className = ''" tabindex="3" required><br>
							<label>End Date: </label>&nbsp;
							<input placeholder="End Date" type="date" id="END_DATE" oninput="this.className = ''" tabindex="4" required>
						</fieldset>
						<fieldset>
							<textarea placeholder="Describe the Scientific Purpose of the Investigation...." id="PURPOSE" oninput="this.className = ''" tabindex="5" required></textarea>
						</fieldset>
						<fieldset>
							<textarea id=" " id="METHOD" oninput="this.className = ''" placeholder="Describe the research methodology in non-technical language (the IRB needs to know what will be done with or to all research participants)...." tabindex="6" required></textarea>
						</fieldset>
						<fieldset>
							<textarea id="BENEFITS" oninput="this.className = ''" placeholder="What are the potential benefits of this research (either directly to the participants, or to the body of knowledge being researched)" tabindex="7" required></textarea>
						</fieldset>
						<fieldset>
							<textarea id="RISK" oninput="this.className = ''" placeholder="What are the anticipated risks (risks include, physical, psychological, or economic harm; be certain to describe the steps taken to protect participants from these risks)" tabindex="8" required></textarea>
						</fieldset>
					</div>	
					<div class="tab" id="item3">
						<h3>Project Information</h3><br>
						<fieldset>
							<textarea id="PARTICIPANTS" oninput="this.className = ''" placeholder="Describe how participants will be recruited (must include total number and age of all participants to be recruited and any compensation participants will be provided)" tabindex="9" required></textarea>
						</fieldset>
						<fieldset>
							<textarea id="REASON_WHY" oninput="this.className = ''" placeholder="Describe why it is necessary that the Primary Investigator(s) and/or Supervisor know the identity of the participants (not required for Exempt Reviews)" tabindex="10" required></textarea>
						</fieldset>
						<fieldset>
							<textarea id="HOW_DATA" oninput="this.className = ''" placeholder="Describe how data collected for this project will be securely stored and how and when it will be destroyed" tabindex="11" required></textarea>
						</fieldset>
						<fieldset>
							<textarea id=" " oninput="this.className = ''" placeholder="Describe the informed consent process" tabindex="12" required></textarea>
						</fieldset>
					</div>
					<div class="tab" id="item4">
						<h3>Signature Page</h3>
						<br>
						<h2>Principal Investigator(s):</h2>
				
						<fieldset>
						  <input placeholder="Project Title..." id=" " oninput="this.className = ''" type="text" tabindex="1" required>
						</fieldset>
						<fieldset>
						  <input placeholder="Signature..." id=" " oninput="this.className = ''" type="text" tabindex="2" required>
						</fieldset>
						<fieldset>
						  <input placeholder="Name..." id=" " oninput="this.className = ''" type="text" tabindex="2" required>
						</fieldset>
						<fieldset>
						 <input placeholder="Degree..." id=" " oninput="this.className = ''" type="text" tabindex="2" required>
						</fieldset>
						<fieldset>
						  <input placeholder="Title..." id=" " oninput="this.className = ''" type="text" tabindex="2" required>
						</fieldset>
						<fieldset>
						  <input placeholder="School/Dept..." id=" " oninput="this.className = ''" type="text" tabindex="2" required>
						</fieldset>
						<fieldset>
						   <input placeholder="Email..." id=" " oninput="this.className = ''" type="email" tabindex="2" required>
						</fieldset>
						<fieldset>
						 <input placeholder="Telephone Number..." id=" " oninput="this.className = ''" type="tel" tabindex="2" required>
						</fieldset>
						<fieldset>
						  <input placeholder="Alternate Phone Number..." id=" " oninput="this.className = ''" type="tel" tabindex="2" required>
						</fieldset>
					</div>
					<div class="tab" id="item5">
						<h3>Signature Page</h3>
						<br>
						<h2>Faculty Supervisor</h2>
						
						<fieldset>
						  <input placeholder="Project Title..." id=" " oninput="this.className = ''" type="text" tabindex="11" required>
						</fieldset>
						<fieldset>
						  <input placeholder="Signature..." id=" " oninput="this.className = ''" type="text" tabindex="12" required>
						</fieldset>
						<fieldset>
						  <input placeholder="Name..." id=" " oninput="this.className = ''" type="text" tabindex="13" required>
						</fieldset>
						<fieldset>
						  <input placeholder="Degree..." id=" " oninput="this.className = ''" type="text" tabindex="14" required>
						</fieldset>
						<fieldset>
						  <input placeholder="Title..." id=" " oninput="this.className = ''" type="text" tabindex="15" required>
						</fieldset>
						<fieldset>
						  <input placeholder="School/Dept..." id=" " oninput="this.className = ''" type="text" tabindex="16" required>
						</fieldset>
						<fieldset>
						   <input placeholder="Email Address..." id=" " oninput="this.className = ''" type="email" tabindex="17" required>
						</fieldset>
						<fieldset>
						 <input placeholder="Telephone Phone Number..." id=" " oninput="this.className = ''" type="tel" tabindex="18" required>
						</fieldset>
						<fieldset>
						  <input placeholder="Alternate Phone Number..." id=" " oninput="this.className = ''" type="tel" tabindex="19" required>
						</fieldset>
					</div>
					<div style="overflow:auto;">
						<div class="fleft">
							<button type="button" id="saveBtn" onclick="save">Save</button>
						</div>
						<div style="float:right;">
							<button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
							<button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
						</div>
					</div>
					<br>
					<div style="text-align:center; margin-top:40;">
						<span class="step"></span>
						<span class="step"></span>
						<span class="step"></span>
						<span class="step"></span>
						<span class="step"></span>
					</div>
					<br>
				</form>
			</section>
		</div>
		<script src="js/multi_form.js"></script>
		
		<!-- FOOTER -->	
		
		<div id="footer">
		
			<!-- MGA Site Location Links -->
			<div class="site_nav">
				<ul>
					<a href="https://www.mga.edu/about/campuses/macon.php" target="_blank"><li>Macon |</li></a>
					<a href="https://www.mga.edu/about/campuses/cochran.php" target="_blank"><li>Cochran |</li></a>
					<a href="https://www.mga.edu/about/campuses/dublin.php" target="_blank"><li>Dublin |</li></a>
					<a href="https://www.mga.edu/about/campuses/eastman.php" target="_blank"><li>Eastman |</li></a>
					<a href="https://www.mga.edu/about/campuses/warner-robins.php" target="_blank"><li>Warner Robins</li></a>
				</ul>
				<br>
			</div>
			
			<!-- MGA Footer Links -->
			<div class="menu2">
				<ul class="dropdown">
					<button class="dropbtn" onclick="AudiencesFunction()" style="vertical-align:middle"><span>Audiences</span></button>
					<hr><br>
					<div class="dropdown-content" id="myDropdown">
						<a href="https://www.mga.edu/admissions/index.php" target="_blank"><li>Future Students</li></a>
						<a href="https://www.mga.edu/students/index.php" target="_blank"><li>Current Students</li></a>
						<a href="https://www.mga.edu/admissions/high-school-students/index.php" target="_blank"><li>Current High School Students</li></a>
						<a href="https://www.mga.edu/faculty-staff/index.php" target="_blank"><li>Faculty & Staff</li></a>
						<a href="https://www.mga.edu/foundation/index.php" target="_blank"><li>Alumni & Friends</li></a>
						<a href="https://www.mga.edu/veterans-military/index.php" target="_blank"><li>Veterans/Military</li></a>
					</div>
				</ul>
				<ul class="dropdown">
					<button class="dropbtn" onclick="ApplyFunction()" style="vertical-align:middle"><span>Apply Today</span></button>
					<hr><br>
					<div class="dropdown-content" id="Apply_myDropdown">
						<a href="https://www.mga.edu/admissions/index.php" target="_blank"><li>Admissions Office</li></a>
						<a href="https://www.mga.edu/financial-aid/index.php" target="_blank"><li>Financial Aid</li></a>
						<a href="https://www.mga.edu/degrees/index.php" target="_blank"><li>Programs & Majors</li></a>
						<a href="https://www.mga.edu/bursar/tuition-fees/index.php" target="_blank"><li>Tuition & Fees</li></a>
					</div>
				</ul>
				<ul id="position">
					<a href="https://www.mga.edu/index.php"><img class="flogo" src="images/mga-footer-logo.png" alt=""/></a>
				</ul>
				
				<ul class="dropdown">
					<button class="dropbtn" onclick="ContactFunction()" style="vertical-align:middle"><span>Contact</span></button>
					<hr><br>
					<div class="dropdown-content" id="Contact_myDropdown">
						<a href="https://www.mga.edu/directory/frequent-numbers.php" target="_blank"><li>Contact Us</li></a>
						<a href="https://www.mga.edu/about/maps.php" target="_blank"><li>Maps & Directions</li></a>
						<a href="https://www.mga.edu/faculty-staff/customer-service.php" target="_blank"><li>Customer Service</li></a>
						<a href="https://www.mga.edu/internal-audit/ethics-compliance.php" target="_blank"><li>Compliance, Ethics & Reporting Line</li></a>
						<a href="https://www.mga.edu/technology/errors/webmaster.php" target="_blank"><li>Webmaster</li></a>
					</div>
				</ul>
				<ul class="dropdown">
					<button class="dropbtn" onclick="Info_Function()" style="vertical-align:middle"><span>Information</span></button>
					<hr><br>
					<div class="dropdown-content" id="Info_myDropdown">
						<a href="https://www.mga.edu/about/index.php" target="_blank"><li>About MGA</li></a>
						<a href="https://www.mga.edu/police/alert/index.php" target="_blank"><li>MGA Knight Alert</li></a>
						<a href="https://www.mga.edu/police/index.php" target="_blank"><li>Police Department</li></a>
						<a href="https://www.mga.edu/human-resources/index.php" target="_blank"><li>Employment</li></a>
						<a href="https://www.mga.edu/student-affairs/title-ix.php" target="_blank"><li>Title IX Compliance</li></a>
						<a href="https://www.mga.edu/student-affairs/diversity-inclusion-equity-office.php" target="_blank"><li>Diversity</li></a>
					</div>
				</ul>
				
			</div>
		</div>
		
		<!-- MGA Address Links & Social Media Links-->
		<div id="address_sec">
			<div>
				<p>478.471.2700 | <i><a href="https://www.google.com/maps/dir/100%20university%20parkway%20macon%20ga%2031206" target="_blank">100 University Parkway | Macon, GA 31206</a></i></p>
				<ul>
					<li><a href="https://www.facebook.com/MiddleGeorgiaStateUniversity2" target="_blank"><img class="sIcons" src="images/facebook.png" alt=""/></a></li>
					<li><a href="https://twitter.com/MGAstateU" target="_blank"><img class="sIcons" src="images/twitter.png" alt=""/></a></li>
					<li><a href="https://www.instagram.com/mgastateu/" target="_blank"><img class="sIcons" src="images/instagram.png" alt=""/></a></li>
					<li><a href="https://www.youtube.com/user/mgaknights" target="_blank"><img class="sIcons" src="images/youtube.png" alt=""/></a></li>
				</ul>
			</div>
		</div>
		
		
		
		<!-- Copyright Section -->
		<div id="copyright_sec">
			<p class="aligncenter"><i>Copyright © <span id="demo"> </span> Middle Georgia State University</i></p>
			
			<!-- Script to get the Current Year -->
			<script>
				var d = new Date();
				document.getElementById("demo").innerHTML = d.getFullYear();
			</script>
			
		</div>
		
		
		<!-- Script Sections -->
		<script src="http://ajax.googleapis.com/ajax.libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="js/jquery-3.3.1.min.js"></script>
		<script src="js/fileUpload.js"></script>
		<script src="js/password.js"></script>
		<script src="js/footer_toggle.js"></script>
	</body>
</html>