{% extends 'base.html' %}

	{% block head %}
  <title>Middle Georgia State University | IRB User Form Page</title>
  <meta name="Institutional Review Board (IRB)" content="This is the IRB User Form page" />
	{% endblock %}

	{% block body%}
	{% load static %}

  <!-- HEADER -->
			<div id="header" class="sticky">
				<div>
					<a href="https://www.mga.edu/"><img class="logo" src={% static 'irbSite/images/mga-header-logo.png' %} alt=""/></a>
				</div>
				<div class="aligncenter">
					<h1 class="title">Institutional Review Board</h1>
				</div>
			</div>

			<br>
			<br>

		<!-- Side Navigation Menu -->
			<div class="menu_container">
				<div id="menu">
					<ul>
						<!-- Links to the Home page, submit new project page, Forms page and the the Principal Investigator’s Handbook. -->
						<li class="title">Menu</li>
						<li><a href="index.html"><img class="icons" src={% static 'irbSite/images/home.png' %} alt=""/>Home</a></li>
						<li><a href="form.html"><img class="icons" src={% static 'irbSite/images/projects.png' %} alt=""/>Submit New Project</a></li>
						<hr>
						<li><a href="project_forms.html"><img class="icons" src={% static 'irbSite/images/IRB-PDF-icon.png' %} alt=""/>Forms</a></li>
						<li><a href="https://www.mga.edu/faculty-staff/governance/2016-2017/docs/standing-committees-boards/boards/institutional-review/documents/IRB%20Principal%20Investigator%20Handbook.pdf" target="_blank"><img class="icons" src={% static 'irbSite/images/handbook.png' %} alt=""/>Handbook</a></li>
						<hr>
						<br>

						<!--Logout Button-->
						<li><a id="mylink" href="login.html"><img class="icons" src={% static 'irbSite/images/logout.png' %} alt=""/>Logout</a></li>

						<hr>
						<br>

						<!--Section that will only be displayed if user is an Admin-->
						<li class="title">Admin</li>

						<!--Links to the Admin Projects page and User page-->
						<li><a href="admin_index.html"><img class="icons" src={% static 'irbSite/images/view_projects.png' %} alt=""/>View Projects</a></li>
						<li><a href="user.html"><img class="icons" src={% static 'irbSite/images/users.png' %} alt=""/>Manage Users</a></li>
					</ul>
				</div>
			</div>


		<!-- CONTENT-->


		<div class="big_container">
			<section class="big_content">

				<form id="user" action="user.html" method="post">

					<h5>Users</h5>
					<br>

					<table id="small_table">
						<tr><a href="form.html">Add users</a></tr>
						<br>
						<br>
						<br>

					  <tr>
						<th>User ID</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Title</th>
						<th>Email</th>
						<th>Actions</th>
					  </tr>
					  <tr>
						<td>01</td>
						<td>John</td>
						<td>Jackson</td>
						<td>Review Board</td>
						<td>john.jackson@mga.edu</a></td>
						<td><a href="user_forms.html">Edit</a></td>
					  </tr>
					   <tr>
						<td>02</td>
						<td>Jake</td>
						<td>Statefarm</td>
						<td>Chairman</td>
						<td>jake.statefarm@mga.edu</a></td>
						<td><a href="user_forms.html">Edit</a></td>
					  </tr>
					   <tr>
						<td>03</td>
						<td>Jeff</td>
						<td>Jones</td>
						<td>System Admin</td>
						<td>jeff.jones@mga.edu</a></td>
						<td><a href="user_forms.html">Edit</a></td>
					  </tr>
					</table>
				</form>
			</section>

		</div>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>

	{% endblock %}
